// SITE BUTTON 

.site-button {
  border: 3px solid transparent;
  display: inline-block;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: $color-white;
  background-color: $yellow;
  border: 0;
  padding: 14px 39px;
  transition: all 0.5s ease;
}

.site-button:hover {
  cursor: pointer;
  border: 3px solid #FCB72B;
  color: $yellow;
  background-color: transparent;
}